@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #7749F8;
  --primary-black: #343A40;
}

::placeholder {
  font-weight: 400;
}

.customflex {
  display: flex;
  justify-content: center;
  align-items: center;
}